@charset "utf-8";

Body {
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	border-bottom: solid 2px;
	border-top: solid 2px;
	padding-left: 0px;
	padding-right: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
}

.container {
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	background-color: #000000;
}

.topvalikko {
	position: fixed;
	top: 0;
	width: 100%;
	padding-top: 27px;
	background-color: #db8e28;
	padding-bottom: 10px;
	border-bottom: solid 2px;
}

.topvalikko ul {
	background-color: #db8e28;
	width: 100%;
	float: none;
	margin-top: 0;
}

.topvalikko ul li {
	float: left;
	width: 20%;
	list-style: none;
	letter-spacing: 1px;
	font-size: 33px;
	font-family: "Source Sans Pro";
	font-weight: bold;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	transition: all 0.2s linear;
	color: #FFFFFF;

}

.topvalikko ul li:hover {
	color: #000000;
	cursor: pointer;
}

button {
	background-color: #db8e28;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 33px;
	font-weight: bold;
}

a {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 33px;
	font-weight: bold;
	transition: all 0.3s linear;
}

a:hover {
	color: #000000;
	cursor: pointer;
}

.icons {
	
}

.container_topkuva {
	max-width: 100%;
	padding-left: 7%;
	float: left;
	width: 125px;
}

.container_bottomvalikko {
	margin-top: 12px;
	background-color: #db8e28;
	padding: 35px;
	font-size: 20px;
}

.container_content h1 {
	
}

.container_content {
	margin: 0;
	width: 45%;
	float: left;
	margin-left: 5%;
	margin-right: 10%;
	margin-bottom: 10%;
}

.container_discord {
	width: 25%;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 50px;
	max-height: 100%;
	max-width: 100%;
	float: none;
}

h1 {
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 5%;
	color: #FFFFFF;
	font-weight: bold;
	text-transform: uppercase;
}
	
p {
	padding-left: 5%;
	padding-right: 5%;
	text-align: justify;
	line-height: 23px;
	margin-top: 30px;
	margin-bottom: 15px;
	color: #FFFFFF;
	font-size: 20px;
	font-family: "Source Sans Pro";
}

.top_space {
	width: 100%;
	height: 150px;
	padding-top: 75px;
}

.bottom_space {
	width: 100%;
	height: 100px;
	padding-top: 10px;
	padding-bottom: 200px;
	
}

.thumbnail {
	border: #DB8E28 solid 2px;
	border-radius: 100px;
	height: 100px;
	float: left;
}
.thumbnail_align {
	float: left;
	padding-left: 8%;
}

footer {
	width: 100%;
	padding-top: 25px;
	padding-bottom: 15px;
	background-color: #db8e28;
	border-top: solid 2px;
}

.copyright {
	max-width: 100%;
	height: 30px;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
	max-height: 25%;
	max-width: 25%;
  	margin-top: 8px;
 	vertical-align: middle;
}