@charset "utf-8";


/* Pienimmät näytöt, 600px and down) */
/*@media only screen and (max-width: 600px)

/* Pienet näytöt, 600px and up */
/*@media only screen and (min-width: 600px)

/* Keskikokoset näytöt, 768px and up */
/*@media only screen and (min-width: 768px)

/* Isot näytöt, 992px and up */
/*@media only screen and (min-width: 992px)

/* Suurimmat näytöt, 1200px and up */
/*@media only screen and (min-width: 1200px)*/

Body {
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	border-bottom: solid 2px;
	border-top: solid 2px;
	padding-left: 0px;
	padding-right: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	background-color: #000;
}

.container {
	width: 90%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	padding: 0;
}
	
.topvalikko {
	top: 0;
	position: absolute;
	width: 100%;
	padding-top: 27px;
	padding-bottom: 10px;
	border-bottom: solid 2px;
	background-color: #db8e28;
}

.topvalikko ul {
	background-color: #db8e28;
	width: 80%;
	float: none;
	margin-top: 0;
	margin-left: 10%;
	
}

.topvalikko ul li {
	float: left;
	width: 18%;
	list-style: none;
	letter-spacing: 1px;
	font-size: 33px;
	font-family: "wallpoet";
	font-weight: bold;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	transition: all 0.2s linear;
	color: #FFFFFF;
}

.topvalikko ul li:hover {
	color: #000000;
	cursor: pointer;
}

button {
	background-color: #db8e28;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 33px;
	font-weight: bold;
}

a {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 33px;
	font-weight: bold;
	transition: all 0.3s linear;
}

a:hover {
	color: #000000;
	cursor: pointer;
}

.kuva_container {
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 33px;
	font-weight: bold;
	transition: all 0.3s linear;
}

.video_container {
    border: solid #000 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 33px;
	font-weight: bold;
	transition: all 0.3s linear;
}

.video_container:hover {
	color: #db8e28;
	cursor: pointer;
	border: solid #db8e28 2px;
}

.column a {
	border: none;
    color: #000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 33px;
	font-weight: bold;
	transition: all 0.3s linear;
}

.column a:hover {
	color: #db8e28;
	cursor: pointer;
}

.container_topkuva {
	max-width: 100%;
	padding-left: 0%;
	float: center;
	width: 125px;
	margin: auto;
}

.container_bottomvalikko {
	margin-top: 12px;
	background-color: #db8e28;
	padding: 35px;
	font-size: 20px;
}


.container_content {
	margin: 0;
	width: 45%;
	float: left;
	margin-left: 5%;
	margin-right: 10%;
	margin-bottom: 10%;
}

.container_discord {
	width: 25%;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 50px;
	max-height: 100%;
	max-width: 100%;
	float: none;
}

h1 {
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 5%;
	color: #FFFFFF;
	font-weight: bold;
	text-transform: uppercase;
}
	
p {
	padding-left: 5%;
	padding-right: 5%;
	text-align: justify;
	line-height: 23px;
	margin-top: 30px;
	margin-bottom: 15px;
	color: #FFFFFF;
	font-size: 20px;
	font-family: "Source Sans Pro";
}

.gallery_header {
	text-align: center;
	margin: 0;
	font-size: 30px;
	padding-top: 65px;
	font-family: "source sans pro";
	font-weight: bold;
}

.top_space {
	width: 100%;
	height: 200px;
	padding-top: 75px;
}

.bottom_space {
	width: 100%;
	height: 100px;
	padding-top: 10px;
	padding-bottom: 200px;
	
}

.thumbnail {
	border: #DB8E28 solid 2px;
	border-radius: 100px;
	height: 100px;
	float: left;
}
.thumbnail_align {
	float: left;
	padding-left: 8%;
}

footer {
	width: 100%;
	padding-top: 25px;
	padding-bottom: 15px;
	background-color: #db8e28;
	border-top: solid 2px;
	position: absolute;
}

.copyright {
	max-width: 100%;
	height: 30px;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	background-color: #DB8E28;
	padding-bottom: 20px;
	position: relative;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  width: 33%;
  padding: 0 4px;
}

.column img {
	border: solid 2px;
	max-height: 100%;
	max-width: 100%;
  	margin-top: 8px;
 	vertical-align: middle;
}
.column video {
	max-height: 100%;
	max-width: 100%;
  	margin-top: 8px;
 	vertical-align: middle;
}

* {
    box-sizing: border-box;
}
/*
body {
    margin: 0;
}

.header {
    text-align: center;
    padding: 32px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
/*.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
/*@media (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
/*@media (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}