@charset "utf-8";


Body {
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	border-bottom: solid 2px;
	border-top: solid 2px;
	padding-left: 0px;
	padding-right: 0px;
	background-color: #db8e28;
	margin-bottom: 0px;
	margin-top: 0px;
	background-image: url(Kuvat/rainbow.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.container {
	width: 90%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}

.topvalikko {
	top: 0;
	width: 100%;
	background-color: #db8e28;
	border-top: solid #000;
	border-bottom: solid #000;
	height: 75px;
}

.topvalikko ul {
	background-color: #db8e28;
	width: 80%;
	margin-top: 0;
	margin-left: 10%;
	padding: 0;
	float: left;
}

.topvalikko ul li {
	display: inline-block;
	float: left;
	width: 18%;
	list-style: none;
	letter-spacing: 1px;
	font-family: "wallpoet";
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	transition: all 0.2s linear;
	color: #FFFFFF;
	position: bottom;
	vertical-align: bottom;
	line-height: 75px;
}

.topvalikko ul li:hover {
	color: #000000;
	cursor: pointer;
}

.topvalikko ul li img {
	vertical-align: middle;
}

.topvalikko ul li a {
	vertical-align: middle;
}

.topvalikko ul li button {
	vertical-align: middle;
}

button {
	background-color: #db8e28;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 33px;
	font-weight: bold;
}

a {
    border: none;
    color: white;
    text-align: center;
	text-decoration: none;
    display: inline-block;
    font-size: 33px;
	font-weight: bold;
	transition: all 0.3s linear;
}

a:hover {
	color: #000000;
	cursor: pointer;
}

.container_topkuva {
	max-width: 100%;
	padding-left: 0%;
	width: 125px;
	margin: auto;
	padding-top: 1px;
}

.container_bottomvalikko {
	margin-top: 12px;
	background-color: #db8e28;
	padding: 35px;
	font-size: 20px;
}

.container_content {
	margin: 0;
	width: 45%;
	float: left;
	margin-left: 5%;
	margin-right: 10%;
	margin-bottom: 10%;
}

.container_discord {
	width: 25%;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 50px;
	max-height: 100%;
	max-width: 100%;
	float: none;
	position: relative;
}

h1 {
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 5%;
	color: #FFFFFF;
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'black-ops-one';
}
	
p {
	padding-left: 5%;
	padding-right: 5%;
	text-align: justify;
	line-height: 23px;
	margin-top: 30px;
	margin-bottom: 15px;
	color: #FFFFFF;
	font-size: 20px;
	font-family: 'black-ops-one';
}

.top_space {
	width: 100%;
	height: 150px;
	padding-top: 75px;
}

.bottom_space {
	width: 100%;
	height: 100px;
	padding-top: 10px;
	padding-bottom: 200px;
	
}

.thumbnail {
	border: #DB8E28 solid 2px;
	border-radius: 100px;
	height: 100px;
	float: left;
}
.thumbnail_align {
	float: left;
	padding-left: 8%;
	position: static;
}

footer {
	width: 100%;
	padding-top: 25px;
	padding-bottom: 15px;
	background-color: #db8e28;
	border-top: solid #000;
	border-bottom: solid #000;
	height: 30px;
}

.copyright {
	max-width: 100%;
	height: 30px;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}

.TestTabStealth {
	color: #000;
}

.TestTabStealth:hover {
	color: #00FF24;
}