@charset "utf-8";

body {
	margin: 0px;
	padding: 0px;
	background-color: #FFF;
}

.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

header {
	vertical-align: middle;
	align-items: middle;
	width: 100%;
	heigth: 15%;
	margin-left: auto;
	margin-right: auto;
}

.blackbar {
	background-color: #000;
	heigth: 5%;
	margin: 0%;
}

.logo {
	text-align: center;
	font-weight: 200;
	font-size: 75px;
	width: 100%;
}

.navbar {
	width: 100%;
	height: 15%;
}

.navbar ul {
	background-color: #db8e28;
	width: 21%;
	margin-top: 0;
	margin-left: 39.3%;
	padding: 0;
	float: left;
}

.navbar ul li {
	display: inline-block;
	width: 32.7%;
	heigth: 100%;
	list-style: none;
	letter-spacing: 1px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	transition: all 0.2s linear;
	

}

.java {
	margin: 0;
	padding: 0;
	height: 30%;
}
